// $main: #DA6D74;
$main: #ff787c;
$dark: #000000;
$heading: sans-serif;
$copy: Libre Baskerville, serif;

$zBackground: -1;
$zBackgroundTop: 1;
$zContent: 5; 

* { box-sizing: border-box; }

body {
	font-size: 14px;
	font-family: Libre Baskerville, serif;
	background-color: #fff;
	position: relative;
}

.page-container {
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 1;
	background-color: transparent;
	transition: transform 1s ease;
}

a {
	font-family: $copy;
	color: $dark;
	text-decoration: none;
}

.link-list {

	a:hover {
		text-decoration: underline;
	}

	&.horizontal {
		text-align: center;

		li {
			margin-right: 15px;
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			position: relative;

			&:before {
				content: '\2022';
				position: absolute;
				right: -12px;
				top: 2px;
				font-size: 12px;
			}

			&:last-of-type {
				margin-right: 0;

				&:before {
					display: none;
				}
			}

			a {
				padding: 3px 5px;
			}
		}

		&.no-dots li:before {
			display: none;
		}
	}

	&.vertical {
		text-align: left;

		li {
			display: block;
			margin-bottom: 7px;
			text-align: left;

			&:last-of-type {
				margin-bottom: 0;
			}

			a {
				padding: 3px 0;
			}
		}
	}
}
