<svg viewbox="0 0 369.34 398.15" id-="bg" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" style="display: none">
<defs>
	<filter id="goo" color-interpolation-filters="sRGB">
		<feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
		<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -9" result="cm" />
		<feBlend/>
	</filter>
</defs>
</svg>

<div class="background-wrap">
	<div class="blobs">
		<div class="blob top"></div>
		<div class="blob top"></div>
		<div class="blob top"></div>
		<div class="blob top"></div>
		<div class="blob top"></div>
		<div class="blob bottom"></div>
		<div class="blob bottom"></div>
		<div class="blob bottom"></div>
		<div class="blob bottom"></div>
		<div class="blob bottom"></div>
		<div class="backing top"></div>
		<div class="backing bottom"></div>
	</div>
</div>
